= form_for @recipe do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :description
  = f.text_area :description
  %br
  = f.label :preparation
  = f.text_field :preparation
  = f.submit 'Submit'
