= form_for @recipe do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :description
  = f.text_field :description
  %br
  = f.label :preparation
  = f.text_field :preparation
  %br
  = f.label :privacy
  = f.select :privacy, [['Private', 0],['Public', 1]]
  %br
  = f.submit 'Submit'
