= @user.name
- if user_signed_in?
  - unless current_user == @user
    - if current_user.requested_friends.include?(@user)
      Friendship request pending
    - elsif current_user.pending_friends.include?(@user) || current_user.ignored_pending_friends.include?(@user)
      = render :partial => 'friendships/pending_friend', :locals => { :pending_friend => @user }
    - elsif current_user.friends.include?(@user)
      = "You are friends with #{@user.name}"
      = form_tag remove_friendships_path do
        = hidden_field_tag 'friend_id', @user.id
        = hidden_field_tag 'confirm', 'prompt'
        = submit_tag 'Remove friendship'
    - else
      = form_tag friendships_path do
        = hidden_field_tag 'friend_id', @user.id
        = submit_tag 'Request friendship'
  %h3 Groups you own
  %ul
    - @user.owned_groups.each do |group|
      %li= link_to group.name, group_path(group)
  %h3 Member of
  %ul
    - @user.groups.each do |group|
      %li= link_to group.name, group_path(group)
  %h3 Recipes
  %ul
    - @user.recipes.each do |recipe|
      %li= link_to recipe.name, recipe_path(recipe)
