- if user_signed_in?
  %p= link_to current_user.name, user_path(current_user)
  %h3 Group Invitations
  %ul
    - @invites.each do |invite|
      %li
        = link_to invite.group.name, group_path(invite.group)
        = render partial: 'memberships/join_form', locals: { group: invite.group }
        = link_to "Ignore", group_membership_path(invite.group, invite),
                            method: :delete
  - content_for :sidebar do
    %li.nav-header Pending Friends
    - if current_user.pending_friends.length > 0
      - current_user.pending_friends.each do |pending_friend|
        %li.pending-friend
          = render :partial => 'friendships/pending_friend',
                   :locals => {:pending_friend => pending_friend }
