!!! 5
%html
  %head
    %title Potluck
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body
    #container
      = render :partial => 'layouts/header'
      #content
        #main
          - if flash[:notice]
            .notice= flash[:notice]
          - if flash[:alert]
            .alert= flash[:alert]
          = yield
        %aside
          = yield :aside
        .clearer
      #footer
