!!! 5
%html
  %head
    %title Potluck
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body
    - if user_signed_in?
      %ul
        %li= link_to "Edit account", edit_user_registration_path
        %li Log out
    - else
      %ul
        %li Sign up
        %li Log in
    - if flash[:notice]
      = flash[:notice]
    - if flash[:alert]
      = flash[:alert]
    = yield